<h1>Welcome to {{ data.title }}</h1>
<div class="style">
  <input
    class="demo"
    (keyup)="onKeyUp(titleInput.value)"
    [value]="data.title"
    #titleInput
  />
  <button class="btn" (click)="onBtnClick()"></button>
</div>
<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div class="courses">
  @for (course of courses; track course.id ) {

  <app-course-card
    [course]="course"
    (courseSelected)="onCourseSelected($event)"
  />

  }
</div>
